<% provide(:title, "Admin Comments") %>
<div class="row">
	<%= render "admin/side" %>
	<div class="col-10 admin-artile">
		<h3>Admin Comments</h3>
		<div class="d-flex row">
			<nav class="col-8">
				<ul class="nav">
					<li class="nav-item">
				  		<%= link_to "Public",admin_comments_path(status: :public), class:"nav-link btn btn-outline-secondary admin_tab_item_link" %>
					</li>
					<li class="nav-item admin_tab_item">
						<%= link_to "Archived",admin_comments_path(status: :archived), class:"nav-link btn btn-outline-secondary admin_tab_item_link" %>
					</li>
					<li class="nav-item">
					<%= link_to "Private",admin_comments_path(status: :private), class:"nav-link btn btn-outline-secondary admin_tab_item_link" %>
					</li>
				</ul>
			</nav>
		</div>
		<div class="d-flex col-12 justify-content-between admin_col_wrap">
			<p class = "col-5 admin_col_heading">
				Comment body
			</p>
			<p class = "col-1 admin_col_heading">
				Comment ID
			</p>
			<p class = "col-2 admin_col_heading">
				Comment creator
			</p>
			<p class="col-1"></p>
		</div>
		<ul class = "list-group admin_list">
			<% @comments.each do |comment| %>
				<li class = "list-group-item  d-flex col-12 justify-content-between">
					<p class="col-5 admin_list_item">
						<%= comment.body %>
					</p>
					<p class="col-1 admin_list_item">
						<%= comment.id %>
					</p>
					<p class="col-1 admin_list_item">
						<%= comment.user.name %>
					</p>
					<%= link_to "Destroy", admin_comment_path(comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"col-1" %>
				</li>
			<% end %>
		</ul>
		<%= paginate @comments %>
	</div>
</div>
