
<main class="form-signin w-100 m-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <form>
        <h2 class="h3 mb-3 fw-normal signFormHeader">Sign up</h2>

        <div class="filed form-floating indent">
          <!-- <%= f.label :username%><br/> -->
          <%= f.text_field :username, class:"form-control", placeholder:"username", id: "userInput"%>
          <label for="floatingInput">Username</label>
        </div>
       
        <div class="field form-floating indent">
          <!-- <%= f.label :email %><br /> -->
          <%= f.email_field :email, autocomplete: "email", class:"form-control", placeholder:"email", id:"mailInput" %>
          <label for="mailInput">Email</label>
        </div>

        <div class="field form-floating indent">
          <!-- <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>-->
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"password", id:"passwordInput" %>
          <label for="passwordInput">Password</label>
        </div>

        <div class="field form-floating indent">
         <!-- <%= f.label :password_confirmation %><br/> -->
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"repeat password", id:"repeatPasswordInput"%>
          <label for="repeatPasswordInput">Repeat password</label>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary w-100"%>
        </div>

        <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary w-100" %>
        <!--<%=render "devise/shared/links"%>-->
      </form>
  <% end %>
</main>