<% provide(:title, "Admin Articles") %>
<div class="row">
	<%= render "admin/side" %>
	<div class="col-9 admin-artile">
		<h3>Admin Articles</h3>
		<div class="d-flex row">
			<nav class="col-4">
				<ul class="nav nav-pills">
					<li class="nav-item">
						<%= link_to "Public",admin_articles_path(status: :public), class:"nav-link admin_tab_item_link #{'active' if params[:status] == "public" || params[:status].nil?}" %>
					</li>
					<li class="nav-item admin_tab_item">
						<%= link_to "Archived",admin_articles_path(status: :archived), class:"nav-link admin_tab_item_link #{'active' if params[:status] == "archived" }" %>
					</li>
					<li class="nav-item">
						<%= link_to "Private",admin_articles_path(status: :private), class:"nav-link admin_tab_item_link #{'active' if params[:status] == "private" }" %>
					</li>
				</ul>
			</nav>
			<div class="col-4">
				<%= link_to "created_at ASC",admin_articles_path(sort: :created_at_asc), class:"nav-link" %>
				<%= link_to "created_at DESC",admin_articles_path(sort: :created_at_desc), class:"nav-link" %>
				<%= link_to "updated_at ASC",admin_articles_path(sort: :updated_at_asc), class:"nav-link" %>
				<%= link_to "updated_at DESC",admin_articles_path(sort: :updated_at_desc), class:"nav-link" %>
				<%= link_to "ID ASC",admin_articles_path(sort: :id_asc), class:"nav-link" %>
				<%= link_to "ID DESC",admin_articles_path(sort: :id_desc), class:"nav-link" %>
			</div>
			<div class="col-4 search_wrap">
				<%= form_tag(admin_articles_path, method: :get) do %>
				<div class="d-flex">
					<%= text_field_tag "search", params[:search], placeholder: "Search article title", class:"form-control me-2" %>
					<%= hidden_field_tag "status", params[:status] %>
					<%= submit_tag "Search", class:"btn btn-outline-secondary" %>
				</div>
				<% end %>
			</div>
		</div>
		<div class="tab-content" id="nav-tabContent">
			<div class="d-flex col-12 justify-content-between admin_col_wrap">
				<p class = "col-4 admin_col_heading">
					Article title
				</p>
				<p class = "col-1 admin_col_heading">
					Article ID
				</p>
				<p class = "col-2 admin_col_heading">
					Article creator
				</p>
				<p class = "col-1 admin_col_heading">
					created at
				</p>
				<p class="col-1"></p>
			</div>
			<ul class = "list-group list-group-flush admin_list tab-pane fade active show" id="nav-public" role="tabpanel" aria-labelledby="nav-public-tab">
				<% @articles.each do |article| %>
				    	<li class = "list-group-item d-flex col-12 justify-content-between">
				        	<%= link_to article.title, article, class:"col-4 admin_list_link"%>
				        	<p class="col-1 admin_list_item">
				        		<%= article.id %>
				        	</p>
				        	<p class="col-1 admin_list_item">
				        		<%= article.user.name%>
				        	</p>
							<p class="col-1 admin_list_item">
				        		<%= article.created_at.to_s(:short) %>
				        	</p>
				        	<%=  link_to "Destroy",admin_article_path(article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"col-1" %> 
				    	</li>
				<% end %>
			</ul>
			<%= paginate @articles %>
		</div>
	</div>
</div>
