<% provide(:title, "Admin Articles") %>
<div class="row">
	<%= render "admin/asaide" %>
	<div class="col-9 admin-artile" style="border: 1px solid;">
		<h3>Admin Articles</h3>
		<nav>
			<ul class="nav">
			  <li class="nav-item">
			  	<%= link_to "Public",admin_articles_path(status: :public), class:"nav-link" %>
			  </li>
			  <li class="nav-item">
				<%= link_to "Archived",admin_articles_path(status: :archived), class:"nav-link" %>
				</li>
			</ul>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<ul class = "list-group list-group-flush admin_list tab-pane fade active show" id="nav-public" role="tabpanel" aria-labelledby="nav-public-tab">
				<% @articles.each do |article| %>
				    	<li class = "list-group-item d-flex col-12 justify-content-between">
				        	<%= link_to article.title, article, class:"col-4 admin_list_link"%>
				        	<p class="col-1 admin_list_item">
				        		<%= article.id %>
				        	</p>
				        	<p class="col-1 admin_list_item">
				        		<%= article.user.name%>
				        	</p>
				        	<%=  link_to "Destroy",admin_article_path(article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"col-1" %> 
				    	</li>
				<% end %>
			</ul>
			<%= paginate @articles %>
		</div>
	</div>
</div>
