<div class="article">
  <h1 class="h2"><%= @article.title %></h1>

  <div>
    <%= image_tag @article.image.url(:large), class: "img" if @article.image? %>
    <p class="article_paragraph"><%= @article.body %></p>
  </div>


  <% if current_user %> <!-- проверяет авторезирован ли пользеватель  -->
    <% if @article.user_id == current_user.id %> <!-- если пользеватель авторезирован проверяет он ли сделал статью -->
      <div class="btn-group">
        <%= link_to "Edit", edit_article_path(@article), class:"btn btn-outline-primary" %>
        <%= link_to "Destroy", article_path(@article), class:"btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %> 
      </div> 
    <% end %>
  <% end %>

</div>

<div class="comment">
  <h2 class="h4">Comments</h2>
  <%= render @article.comments %>

  <h2 class="h4 commennt_add">Add a comment:</h2>
  <%= render 'comments/form' %>
</div>