<div class="article">
  <h1 class="h2"><%= @article.title %></h1>

  <div>
    <%= image_tag @article.image.url(:large), class: "img" if @article.image? %>
    <p class="article_paragraph"><%= @article.body %></p>
  </div>

  <div class="btn-group">
    <%= link_to "Edit", edit_article_path(@article), class:"btn btn-outline-primary" %>
    <%= link_to "Destroy", article_path(@article), class:"btn btn-outline-danger", data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?" } %> <!--class:"nav-link p-0 text-muted"-->
  </div>

  <!-- <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <%= link_to "Edit", edit_article_path(@article), class:"nav-link p-0 text-muted" %>
    </li>
    <li class="nav-item mb-2">
      <%= link_to "Destroy", article_path(@article), class:"nav-link p-0 text-muted", data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?" } %>
    </li>
  </ul>-->
</div>

<div class="comment">
  <h2 class="h3">Comments</h2>
  <%= render @article.comments %>

  <h2 class="h4">Add a comment:</h2>
  <%= render 'comments/form' %>
</div>