<% provide(:title, "Admin Users") %>
<div class="row">
	<%= render "admin/asaide" %>
	<div class="col-9 admin-artile" style="border: 1px solid;">
		<h3>Admin Users</h3>
		<ul class = "list-group admin_list">
			<% @users.each do |user| %>
				<li class = "list-group-item adminArtile_list_item d-flex col-12 justify-content-between">
					<%= link_to user.name, user, class:"col-3 admin_list_link" %>
					<p class="col-1 admin_list_item">
						<%= user.id %>
					</p>
					<p class="col-2 admin_list_item">
						<%= user.email %>
					</p>
					<%=  link_to "Destroy",admin_user_path(user), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"col-1" %> 
				</li>
			<% end %>
		</ul>
	</div>
</div>
